<mat-drawer-container class="example-container" hasBackdrop="false">
  <mat-drawer #drawer mode="side" opened="true"></mat-drawer>
  <mat-drawer-content>
    
    <mat-list style="width: 100% ;">
      <h3>Genesis</h3>
      <mat-divider style="width: 100% !important;"></mat-divider>
    </mat-list>
    <mat-divider></mat-divider>
    <div class="sidenav-btn-container">
      <button (click)="router.navigate(['dashboard'])" [class]="router.url == '/dashboard'? 'sidenav-btn sidenav-btn-active' : 'sidenav-btn '" mat-flat-button color="primary">
        <mat-icon class="icon-in-menu">dashboard</mat-icon>
        <label>Dashboard</label>
      </button>
    </div>
    <div class="sidenav-btn-container">
      <button (click)="router.navigate(['inventory'])" [class]="router.url == '/inventory'? 'sidenav-btn sidenav-btn-active' : 'sidenav-btn '" mat-flat-button color="primary">
        <mat-icon class="icon-in-menu">inventory</mat-icon>
        <label>Inventory</label>
      </button>
    </div>
    <div class="sidenav-btn-container">
      <button class="sidenav-btn" mat-flat-button color="primary">
        <mat-icon class="icon-in-menu">home</mat-icon>
        <label>Home</label>
      </button>
    </div>
    <div class="sidenav-btn-container">
      <button class="sidenav-btn" mat-flat-button color="primary">
        <mat-icon class="icon-in-menu">home</mat-icon>
        <label>Home</label>
      </button>
    </div>
  </mat-drawer-content>
</mat-drawer-container>